{{template "base" .}}
{{define "title"}}{{.Category}} News{{end}}
{{define "main"}}
<h2>{{.Category}} News</h2>
{{if .NewsArray}}
<table>
    <tr>
        <th>Title</th>
        <th>Date of Created</th>
        <th>ID</th>
    </tr>
    {{range .NewsArray}}
    <tr>
        <td><a href='/departments?id={{.ID}}'>{{.Title}}</a></td>
        <td>{{.Date}}</td>
        <td>#{{.ID}}</td>
    </tr>
    {{end}}
</table>
{{else}}
<p>No news available in the {{.Category}} category.</p>
{{end}}
{{end}}