{{template "base" .}}
{{define "title"}} Contacts{{end}}
{{define "main"}}
<h2><center>Contacts with Astana IT University</center></h2>
<h4>RECEPTION OF THE RECTOR</h4>
(7172) 645732
info@astanait.edu.kz
<h4>ENTRANCE COMMITTEE</h4>
(7172) 645710
admission@astanait.edu.kz
Working hours: every day from 9: 00 to 18: 00
(seven days a week from July 13 to July 20)
<h4>CAREER AND EMPLOYMENT CENTER</h4>
(7172) 645707
zhomart.yeleussizov@astanait.edu.kz
<h4>Time</h4>
Monday.  9.00 – 18:00
Tuesday.  9.00 – 18:00
Wednesday.  9.00 – 18:00
Thursday.  9.00 – 18:00
Friday.  9.00 – 18:00
<h4>Admission committee</h4>
Mangilik El 55/11, Block C1
QazExpo
<p>Contact number:</p>
+7 (7172) 645710
<p>Email</p>
info@astanait.edu.kz
<p>AITU MAP</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1181.967934724233!2d71.41918473180334!3d51.090933969043995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424585a605525605%3A0x4dff4a1973f7567e!2sAstana%20IT%20University!5e0!3m2!1sen!2skz!4v1705142418093!5m2!1sen!2skz"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
{{end}}
