{{template "base" .}}
{{define "title"}}Departments #{{.Departments.ID}}{{end}}
{{define "main"}}
{{with .Departments}} <div class='departments'>
    <div class='metadata'> <strong>{{.Title}}</strong> <span>#{{.ID}}</span>
    </div> <pre><code>{{.Content}}</code></pre> <div class='metadata'>
    <time>Created: {{.Date}}</time></div>
    <p class='departments-category'>Category: {{.Category}}</p>
</div>
{{end}} {{end}}
